html{
	font-family: 'Open Sans', sans-serif;
}
h2{
	background-color: #3498db;
	width: 50%;
	margin-left: 30%;
	text-align: center;
	border-radius: 10px;
	color: white;
	padding-bottom: 5px;
	text-shadow: 1px 1px 3px #666666;
	box-shadow: 2px 5px 10px #717171;
}
body{
	margin: 0;
	padding: 0;
}
#headerDiv{
	margin-top: 0px;
	margin-left: 0px;
	background-color: #524646;
	width: 100%;
	height: 100px;
	box-shadow: 0px 5px 10px #958E8E
}
h1{
	display: inline-block;
    vertical-align: middle;
    line-height: normal;  
	color: white;
	margin-left: 33%;
	text-shadow: 3px 3px 2px #000000;
}

#container > ol {
	padding-left: 30%;
}
p, table {
	margin-left: 33%;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  text-shadow: 1px 1px 3px #666666;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 20px;
  width: 10%;
  box-shadow: 2px 5px 10px #807F7F;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
#tilbake {
	margin-left: 33%
}
a{
	text-decoration: none;
	color: white;
}
img, audio, video{
	margin-right: 20%;
	float: right;
}